
<!-- <router-outlet></router-outlet> -->


<!-- <input id="text" type="text" [(ngModel)]="username">
<button (click)="Chack()"> Try Click Me! </button>
<br>
<input id="password" type="password" [(ngModel)]="password">
<button (click)="Enter() ">Enter</button> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
<a class="navbar-brand" href="#">Unknown Login</a>
<button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="
#navberNavAltMarkup" aria-controals="navberNavAltMarkup" aria-controls="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navberNavAltMarkup">
<div class="navbar-nav">
  <a  class="nav-link active" aria-current="page" href="#">Home</a>
  <a class="nav-link" href="https://www.youtube.com/watch?v=Mjv2wST4nL0">course</a>
  <a class="nav-link" href="https://www.youtube.com/watch?v=hvL1339luv0">About Us</a>
</div>
</div>
  </div>
 </nav>
<div class="login-box">
<h2>Login</h2>
<form>
<div class="user-box">
  <input id="text" type="text" [(ngModel)]="username">
  <label>Username</label>
</div>
<div class="user-box">
<form action="">
  <input id="password" type="password" [(ngModel)]="password">

  <label>Password</label>
</form>
</div>

<a (click)="Enter()" href="#">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Enter
</a>
<a (click)="Check() " href="#">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Chack
</a>
</form>
</div>